<div>
    <app-git-hub-organizations-table [organizations]="gitHubOrganizations"
                                     [filter]="filter">
    </app-git-hub-organizations-table>

    <div>
        <app-pagination-widget class="line"
                               [currentPage]="currentPage"
                               (newPageNumberEventEmitter)=newPageNumberEventHandler($event) >
        </app-pagination-widget>
        <app-key-by-key-text-input class="line"
                                   [label]="label"
                                   (newStringEventEmitter)="newFilterEventHandler($event)"></app-key-by-key-text-input>
    </div>
</div>
