<div>
    <div>
        <table>
            <thead></thead>
            <tbody>
            <tr>
                <td><span class="label"> Monitor sensor</span></td>
                <td>
                    <label>
                        <input type="checkbox" [(ngModel)]="isMonitorActive">
                    </label>
                </td>
            </tr>
            <tr>
                <td>Current datetime</td>
                <td> {{ (temperatureStream | async).timestamp }} </td>
            </tr>
            <tr>
                <td>Current temperature</td>
                <td> {{ (temperatureStream | async).value }} </td>
            </tr>
            <tr>
                <td>Average temperature (last {{AVERAGE_INTERVAL_SEC}} sec)</td>
                <td> {{ (averageStream | async).toFixed( 2 ) }} </td>
            </tr>
            <tr>
                <div id="plot">

                </div>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <app-line-chart [data]="data"></app-line-chart>
    </div>
</div>
