<div>
    <table>
        <thead></thead>
        <tbody>
            <tr>
                <td> <span class="label"> Active </span></td>
                <td>
                    <label>
                        <input type="checkbox" [(ngModel)]="isMonitorActive">
                    </label>
                </td>
            </tr>
            <tr>
                <td>Current datetime</td>
                <td> {{ (temperatureStream | async).timestamp }} </td>
            </tr>
            <tr>
                <td>Current temperature</td>
                <td> {{ (temperatureStream | async).value }} </td>
            </tr>
            <tr>
                <td>Average temperature (last {{AVERAGE_INTERVAL_SEC}} sec) </td>
                <td *ngIf="isMonitorActive"> {{ (averageStream | async).toFixed(2) }} </td>
            </tr>
        </tbody>
    </table>
</div>
