<div>

    <table>
        <thead></thead>
        <tbody>
            <tr>
                <td>Monitor sensor</td>
                <td>
                    <label>
                        <input type="checkbox" [(ngModel)]="isMonitorActive">
                    </label>
                </td>
            </tr>
            <tr>
                <td>Current temperature</td>
                <td> {{ (temperatureStream | async).value }} </td>
                <td> {{ (temperatureStream | async).timestamp }} </td>
            </tr>
        </tbody>
    </table>
</div>
