<div class="btn-group-vertical float-right">
    <button type="button" class="btn btn-primary btn-sm">
        <i class="fas fa-upload"></i>
    </button>

    <button type="button" class="btn btn-secondary btn-sm">
        <i class="fas fa-download has-text"></i>
    </button>

    <button type="button" class="btn btn-warning btn-sm">
        <i class="fas fa-search"></i>
    </button>

    <button type="button" class="btn btn-danger btn-secondary btn-sm">
        <i class="fas fa-trash-alt"></i>
    </button>

    <button type="button" class="btn btn-danger btn-sm">
        <i class="fas fa-fire has-text"></i>
    </button>
</div>
