<div>
    <table class="organizations-table">
        <thead>
        <tr>
            <th id="colId">ID</th>
            <th id="colLogin">Login</th>
            <th id="colUrl">URL</th>
            <th id="colDesc">Description</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let organization of organizations">
                <td> {{ organization.id }} </td>
                <td> {{ organization.login }} </td>
                <td><a href='{{ organization.url }}'> {{ organization.url }}</a> </td>
                <td> {{ organization.description }} </td>
            </tr>
        </tbody>
    </table>
</div>
