<div>
    <table class="organizations-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Description</th>
            <th>Avatar</th>
        </tr>
        </thead>
        <tbody>
        <tr [ngClass]="{'description-row': organization.id < 100 }" *ngFor="let organization of organizations">
            <td> {{ organization.id }} </td>
            <td> <a href="{{organization.url}}">{{ organization.login }}</a> </td>
            <td> {{ organization.description }} </td>
            <td> <img src="{{organization.avatar_url}}" style="width: 20px;height: 20px;"> </td>
        </tr>
        </tbody>
    </table>
</div>
